﻿@using CustomForms.Constants.Templates
@using CustomForms.Extensions
@model CustomForms.Models.Fields.IDateFieldModel

<div class="custom-forms-field date">
    <label>
        @Html.Partial("Shared/_SitecoreFieldEditor", BaseField.Fields.Label)
        <input type="date" name="@Model.ItemId"
               data-custom-forms-validation-required="@Model.Required"
               data-custom-forms-validation-minimum-date="@Model.MinimumDate"
               data-custom-forms-validation-maximum-date="@Model.MaximumDate" />
    </label>
    @if (Model.DisplayEditingDetails)
    {
        @Html.CustomForms().StartEditPanel()
        @Html.CustomForms().StartEditPanelSection("Validation")
        @Html.CustomForms().RenderEditPanelField(BaseField.Fields.Required, "Required")
        @Html.CustomForms().RenderEditPanelField(Date.Fields.MinimumDate, "Minimum Date")
        @Html.CustomForms().RenderEditPanelField(Date.Fields.MaximumDate, "Miaximum Date")
        @Html.CustomForms().EndEditPanelSection()
        @Html.CustomForms().EndEditPanel()
    }


</div>
