﻿@using CustomForms.Constants.Templates
@using CustomForms.Extensions
@using Sitecore.Data.Items
@using Sitecore.Mvc

@model CustomForms.Models.Fields.FieldModel

<div class="custom-forms-field dropdownlist">
    <label>
        @Html.Sitecore().Field(BaseField.Fields.Label)
        <select name="@Model.Item.ID"
                data-custom-forms-validation-required="@Model.Required">

            @foreach (Item option in @Model.Item.Children)
            {
                <option value="@option.ID">@option.Name</option>
            }
        </select>
    </label>
        @if (Model.DisplayEditingDetails)
        {
            @Html.CustomForms().StartEditPanel()
                @Html.CustomForms().StartEditPanelSection("Validation")
                    @Html.CustomForms().RenderEditPanelField(BaseField.Fields.Required, "Required")
                @Html.CustomForms().EndEditPanelSection()
                @Html.CustomForms().StartEditPanelSection("Options")
                    <ul>
                        @foreach (Item option in Model.Item.Children)
                        {
                            <li>@option.Name</li>
                        }
                    </ul>
                @Html.CustomForms().EndEditPanelSection()

            @Html.CustomForms().EndEditPanel();
        }
</div>
