﻿@using CustomForms.Constants.Templates
@using CustomForms.Extensions
@model CustomForms.Models.Fields.FieldModel

<div class="custom-forms-field email-address">
    <label>
        @Html.Sitecore().Field(BaseField.Fields.Label)
        <input type="email" name="@Model.Item.ID"
               data-custom-forms-validation-required="@Model.Required" />
    </label>
    @if (Model.DisplayEditingDetails)
    {
        @Html.CustomForms().StartEditPanel()
        @Html.CustomForms().StartEditPanelSection("Validation")
        @Html.CustomForms().RenderEditPanelField(BaseField.Fields.Required, "Required")
        @Html.CustomForms().EndEditPanelSection()
        @Html.CustomForms().EndEditPanel()
    }


</div>
