﻿@using CustomForms.Constants.Templates
@using CustomForms.Extensions
@model CustomForms.Models.Fields.SingleLineTextBoxFieldModel

<div class="custom-forms-field single-line-text-box">
    <label>
        @Html.Sitecore().Field(BaseField.Fields.Label)
        <input type="text" name="@Model.Item.ID"
               data-custom-forms-validation-required="@Model.Required"
               data-custom-forms-validation-pattern="@Model.Pattern" />
    </label>
    @if (Model.DisplayEditingDetails)
    {
        @Html.CustomForms().StartEditPanel()
        @Html.CustomForms().StartEditPanelSection("Validation")
        @Html.CustomForms().RenderEditPanelField(BaseField.Fields.Required, "Required")
        @Html.CustomForms().RenderEditPanelField(SingleLineTextBox.Fields.Pattern, "Pattern")
        @Html.CustomForms().EndEditPanelSection()
        @Html.CustomForms().EndEditPanel()
    }


</div>
