﻿@using Sitecore.Mvc

@model RenderingModel

<fieldset data-forms-conditional-question="@Model.Item["DependantQuestion"]" data-forms-conditional-answers="@Model.Item["DependantAnswers"]">
    <legend>@Html.Sitecore().Field("Legend")</legend>
    @Html.Sitecore().Placeholder("fieldset")
</fieldset>